# Use this file for development environment secrets.
# Remove .template extension. .local extension will be blocked by .gitignore.
# See https://trfy.me/e50 for NextJS environment variable load order.

