# Use this file for application secrets.
# Remove .template extension. .local extension will be blocked by .gitignore.
# See NextJS environment variable load order reference at https://nextjs.org/docs/basic-features/environment-variables#environment-variable-load-order.

NEXTAUTH_SECRET=
